alias reset='git status -sb | awk -F'\''[/.]'\'' '\''NR==1{print "git reset --hard " $4 "/" $5}'\'' | xargs -I {} sh -c {}'
alias vim='vim -p'
alias brewup='brew update && brew upgrade && brew cleanup'
alias cat='lolcat -t'
alias kitten='command cat'
alias config="git --git-dir=${HOME}/.cfg/ --work-tree=${HOME}"
alias idgaf="config commit -m \"$(curl -s http://whatthecommit.com/index.txt)\" && config-push"

config-push () {
  for REMOTE in $(config remote); do
    config push -u "${REMOTE}" "$@" &> /dev/null
  done
}

[[ -f "${HOME}/.brew/brew-helpers.sh" ]] && source "${HOME}/.brew/brew-helpers.sh"
